@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Rye&display=swap");

.logout {
  font-size: 20px;
  font-family: "Koulen", cursive;
}

.botao-login {
  border: 0px solid;
  width: 100px;
  display: flex;
  padding: 1px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  right: 0;
}
.botao-login p {
  margin-top: 3px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Koulen", cursive;
}

i {
  color: rgb(0, 0, 0);
  font-size: 40px;
}

ul {
  position: absolute;

}

.navbar-brand img {
  width: 140px;
  box-shadow: 0px 0px 30px rgb(0, 251, 255), 0px 0px 10px silver;
  border-radius: 50%;
}

.navbar a {
  color: white;
  font-family: "Rye", cursive;
}

.navbar-toggler {
  background-color: white;
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.produto {
  border: 0px solid;
  width: 900px;
  height: 500px;
  margin-top: -200px;
}
.descricao {
  text-align: center;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.servicos {
  border: 0px solid;
  border-radius: 4px;
  width: 600px;
  height: 600px;
  font-family: "Rye", cursive;
  background-color: white;
  text-align: center;
  opacity: 0.8;
  margin-top: 20px;
}

.comprando {
  margin-top: 40px;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid;
  border-color: #005478;
  color: #005b82;
}

.button2 {
  margin-top: 40px;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px solid;
  border-color: rgb(0, 117, 119);
  color: rgb(255, 255, 255);
  background-color: rgb(241, 116, 0);
}

.servicos button:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.valor {
  background-color: rgb(255, 61, 61);
}

/* RESPONSIVIDADE */

@media screen and (max-width: 990px) {
  .oferta img {
    width: 500px;
  }
  .navbar-brand img {
    width: 60px;
  }
}

@media screen and (max-width: 790px) {
  .oferta img {
    width: 500px;
  }

  ul {
    margin-top: -50px;
  }
}

@media screen and (max-width: 500px) {
  .oferta p {
    font-size: 8px;
    margin: 0;
    flex-wrap: nowrap;
  }

  ul {
    margin-top: -50px;
  }

  .oferta img {
    width: 370px;
  }
  .navbar-brand img {
    width: 60px;
  }
}

@media screen and (max-width: 380px) {
  .oferta img {
    width: 340px;
  }
  .navbar-brand img {
    width: 60px;
  }
  .comprando {
    width: 200px;
  }

  .button2 {
    width: 200px;
  }
}
