<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000C37;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="assets/fashion.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item">
     
      </li>
      </ul>
    </div>
  </div>
</nav>





<div class="container">
  <div class="ordem-compra">
    <form #pedidoForm="ngForm" [formGroup]="compraForm" (ngSubmit)="comprar()">
    
      <h5>Sua Compra</h5>
      <hr />


      <div *ngIf="carrinhoService.exibirItens().length; else carrinhoVazio">
      <div *ngFor="let ofertas of oferta" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
       
        <div class="form-group col-sm-1">
          <img [src]="ofertas.imagens" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
         {{ofertas.titulo}}
          <br />
          {{ofertas.descricao}}
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button (click)="subtrair(ofertas)" type="button" class="btn btn-link">-</button>
              {{ofertas.quantidade}}
              <button (click)="adicionar(ofertas)" type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          {{ofertas.quantidade * ofertas.valor | currency: 'BRL': true}}
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Total do pedido:{{carrinhoService.valorTotal() | currency: 'BRL': true}}</h4>
          <button routerLink="" class="button2" type="button">continuar comprando</button>
        </div>
      </div>
      <br />
    </div>

    <ng-template #carrinhoVazio>
      <div class="form-row d-flex justify-content-center" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        Seu carrinho está vazio. Aproveite as ofertas!!
      </div>
    </ng-template>


      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">
        
        <div class="form-group col-md-6">
          <input type="text" class="form-control is-invalid" placeholder="Endereço" autocomplete="off" minlength="5" required name="endereco" id="endereco" formControlName="endereco" [(ngModel)]="endereco">
          <div class="invalid-feedback">Endereço inválido</div>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control is-valid" placeholder="Número" autocomplete="off" minlength="1" required name="numero" id="numero" formControlName="numero" [(ngModel)]="numero">
          <br />
          <small class="form-text text-muted">Ok</small>
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control" placeholder="Complemento" autocomplete="off" name="complemento" id="complemento" formControlName="complemento" [(ngModel)]="complemento">
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
          
        <div class="form-group col-md-3">
          <select class="form-control is-invalid" name="formaPagamento" id="formaPagamento" formControlName="formaPagamento" [(ngModel)]="formaPagamento">
            <option>Selecione uma opção</option>
            <option>Dinheiro</option>
            <option>Débito</option>
          </select>

          <div class="invalid-feedback">Selecione uma forma de pagamento</div>
        </div>
      </div>

      <hr />
      <button type="submit" class="btn btn-primary btn-lg">Cofirmar compra</button>
    </form>
  </div>
</div>