@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");


.principal {
  background-image: url("src/assets/background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;

}

h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 300px;
  font-family: "Rye", cursive;
  color: white;
}

a{
  text-align: center;
  font-family: "Rye", cursive;
  font-size: 30px;
  margin-top: 40px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {
  h1{
    font-size: 40px;
  }
  a{
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 30px;
  }
  a{
    font-size: 20px;
  }
}

@media screen and (max-width: 477px) {
  h1{
    font-size: 20px;
  }
  a{
    font-size: 12px;
  }
}

