<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #1472ff"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="assets/fashion.png" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ng-container *ngIf="user$ | async as user; else loginButton">
        <button class="botao-login" mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon class="icon">account_circle</mat-icon>
          <h2 class="displayName">{{ user.displayName }}</h2>
          <mat-icon>expand_more</mat-icon>
        </button>
      </ng-container>
      <ng-template #loginButton>
        <button class="botao-login" mat-button routerLink="login">
          <mat-icon>login</mat-icon>
          <p>Login</p>
        </button>
      </ng-template>
      <mat-menu #userMenu="matMenu">
        <button class="logout" mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>

<div
  class="container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
  <h1>User Profile</h1>
  <div class="image-profile">
    <img
      width="120"
      height="120"
      [src]="user.photoURL ?? 'assets/image-placeholder.png'"
    />
    <button class="botao-edit" mat-mini-fab (click)="inputField.click()">
      <mat-icon class="icon-edit">edit</mat-icon>
    </button>
  </div>

  <input #inputField hidden type="file" (change)="uploadFile($event, user)" />
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <input
      type="text"
      id="firstName"
      name="firstName"
      formControlName="firstName"
      placeholder="First Name"
    />
    <input
      type="text"
      id="lastName"
      name="lastName"
      formControlName="lastName"
      placeholder="Last Name"
    />
    <input
      type="text"
      id="displayName"
      name="displayName"
      formControlName="displayName"
      placeholder="Display Name"
    />
    <input
      type="text"
      id="phone"
      name="phone"
      formControlName="phone"
      placeholder="Phone"
    />
    <input
      type="text"
      id="address"
      name="address"
      formControlName="address"
      placeholder="Address"
    />
    <button class="botao-save" type="submit" [disabled]="!profileForm.valid">
      Save
    </button>
  </form>
</div>
